button:focus{outline: 0;}

body{
    font-family: 'Nunito', sans-serif;
    margin:0;
}


p{
    font-family: 'Nunito', sans-serif;
    font-size:larger;
}

.ikon{
    margin-right: 3px;
    font-size: 14px;
}

#backgroundFoto{
    background-image: url("img/AnaSayfa.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#black{
    height: 600px;
    background-color: black;
    opacity: 0.2;
}

#konu{
    position: absolute;
    top: 70%;
    left: 40%;
    transform: translate(-50%,-50%);
    color: white;
}

